# Pandas Tutorial

In [1]:
import pandas as pd

In [2]:
#check pandas version
print(pd.__version__)

0.25.1

# Series create, manipulate, querry, delete

In [3]:
# creating a series from a list
arr = [0, 1, 2, 3, 'str']
s1 = pd.Series(arr)
s1

0      0
1      1
2      2
3      3
4    str
dtype: object

In [4]:
order = [1, 2, 3, 4, 6]
s2 = pd.Series(arr, index = order)
s2

1      0
2      1
3      2
4      3
6    str
dtype: object

In [5]:
import numpy as np
n = np.random.randn(5) # create a random Ndarray
n

array([ 2.25998632, -0.02033066, -1.59231407, -0.58165741, -0.64584723])

In [6]:
import numpy as np
n = np.random.randn(5) # create a random Ndarray
index = ['a', 'b', 'c', 'd', 'e']
s2 = pd.Series(n, index = index)
s2

a   -0.619944
b    1.530868
c    1.037746
d   -0.337255
e    1.673450
dtype: float64

In [7]:
# create Series from dictionary
d = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5} # 'key':value
s3 = pd.Series(d)
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
# you can modify the index of series
print(s1)
s1.index = ['A', 'B', 'C', 'D', 'E']
s1

0      0
1      1
2      2
3      3
4    str
dtype: object

A      0
B      1
C      2
D      3
E    str
dtype: object

In [9]:
# slicing
a = s1[:3]  # the first item I don't want is on indexId = 3;
print(s1)
a
print(s2)

A      0
B      1
C      2
D      3
E    str
dtype: object
a   -0.619944
b    1.530868
c    1.037746
d   -0.337255
e    1.673450
dtype: float64

In [10]:
print(s1)
print('--------------------')
print(s3)
print('--------------------')
s4 = s1.append(s3)
print(s4)

A      0
B      1
C      2
D      3
E    str
dtype: object
--------------------
a    1
b    2
c    3
d    4
e    5
dtype: int64
--------------------
A      0
B      1
C      2
D      3
E    str
a      1
b      2
c      3
d      4
e      5
dtype: object

In [11]:
print(s1)
print('--------------------')
print(s3)
print('--------------------')
s4 = s1 + s3
print(s4)

A      0
B      1
C      2
D      3
E    str
dtype: object
--------------------
a    1
b    2
c    3
d    4
e    5
dtype: int64
--------------------
A    NaN
B    NaN
C    NaN
D    NaN
E    NaN
a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
dtype: object

In [12]:
print(s1)
print('--------------------')
print(s3)
print('--------------------')
print(s1 + s3)

A      0
B      1
C      2
D      3
E    str
dtype: object
--------------------
a    1
b    2
c    3
d    4
e    5
dtype: int64
--------------------
A    NaN
B    NaN
C    NaN
D    NaN
E    NaN
a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
dtype: object

In [13]:
arr1 = ['a', 'b']
arr2 = ['c', 'd']
print(arr1 + arr2)

['a', 'b', 'c', 'd']

In [17]:
print(s1)
print('--------------------')
print(s1*2)

A      0
B      1
C      2
D      3
E    str
dtype: object
--------------------
A         0
B         2
C         4
D         6
E    strstr
dtype: object

In [33]:
print(s1)
print('--------------------')
s5 = s1.drop('B') # Note: s1.drop(indexId), 
                  #will not affect s1 
print(s1)
print('--------------------')
print(s5)

A      0
B      1
C      2
D      3
E    str
dtype: object
--------------------
A      0
B      1
C      2
D      3
E    str
dtype: object
--------------------
A      0
C      2
D      3
E    str
dtype: object

# Series Operations

In [57]:
arr1 = [0, 2, 3]
arr2 = [6, 7]

In [58]:
s5 = pd.Series(arr2)
s6 = pd.Series(arr1)

In [61]:
print(s5)
print('--------------------')
print(s6)
print('--------------------')
s8 = s5.div(s6)
print(s8)
print('--------------------')
s9 = s5 / s6
print(s9)
print('--------------------')
print(s5)

0    6
1    7
dtype: int64
--------------------
0    0
1    2
2    3
dtype: int64
--------------------
0    inf
1    3.5
2    NaN
dtype: float64
--------------------
0    inf
1    3.5
2    NaN
dtype: float64
--------------------
0    6
1    7
dtype: int64

In [69]:
print(s6)
print('--------------------')
print(s6.median())
print('--------------------')
s7 = pd.Series([1, 2, 3, 4])
print(s7)
print('--------------------')
print(s7.median())
print('--------------------')

0    0
1    2
2    3
dtype: int64
--------------------
2.0
--------------------
0    1
1    2
2    3
3    4
dtype: int64
--------------------
2.5
--------------------

In [72]:
print(s7)
print('--------------------')
print('max = ', s7.max())
print('min = ', s7.min())

0    1
1    2
2    3
3    4
dtype: int64
--------------------
max =  4
min =  1

In [73]:
print(s9)
print('--------------------')
print('max = ', s9.max())
print('min = ', s9.min())

0    inf
1    3.5
2    NaN
dtype: float64
--------------------
max =  inf
min =  3.5